/* Write your CSS here */
.main_container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card_container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  border-radius: 15px;
  height: 450px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
